fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchaudio==2.2.0+cpu
transformers
soundfile
numpy
edge-tts
sentencepiece
openai-whisper
aiofiles