fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
transformers
soundfile
numpy
edge-tts
sentencepiece
openai-whisper
aiofiles